<mat-card>
        <form [formGroup]="addNewsFormGroup">

                <mat-form-field [ngStyle]="{'width':'100%'}">
                    <input matInput type="text" formControlName="topic" placeholder="Temat"/>
                </mat-form-field>
                <br/>
                <mat-form-field [ngStyle]="{'width':'100%'}">
                    <textarea matInput formControlName="content" placeholder="Treść" rows="15" style="overflow-y:hidden">
                    </textarea>
                </mat-form-field>
            
                <button class="btn btn-primary float-right" type="button" (click)="addNews()" [disabled]="!addNewsFormGroup.valid">Wyślij</button>
            </form>
</mat-card>


