
<ng-container *ngFor="let news of newses">
    <p-fieldset>
        <p-header>{{news.topic}} - {{news.dateOfPublication  | date:'mediumDate' }}
             <i class="fa fa-trash-o float-right ml-2" aria-hidden="true" (click)="removeNews(news)"></i> 
             <i class="fa fa-pencil-square-o float-right" aria-hidden="true" (click)="editNews(news)"></i>
             <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>
            </p-header>
        {{news.content}}
       
    </p-fieldset>
    <br/>
</ng-container>
