<mat-card>
    <form [formGroup]="addNewPlannerFormGroup">
        <mat-form-field [ngStyle]="{'width':'100%'}">
            <input matInput type="text" formControlName="name" placeholder="Nazwa listy zadań"/>
        </mat-form-field>
        <br/>
        <mat-form-field [ngStyle]="{'width':'100%'}">
          <input matInput type="text" formControlName="description" placeholder="Opis listy zadań"/>
        </mat-form-field>

        <br/>
        <span id="add-task" (click)="addTask()">
        <i class="material-icons">playlist_add</i> Dodaj zadanie
        </span>

        <ol>
            <li *ngFor="let task of tasksList">
                <b>{{task.name}}</b> - {{task.description}} - {{task.dueDate | date:'dd.MM.yyyy'}} <i class="fa fa-times" aria-hidden="true" (click)="removeTask(task)"></i>
            </li>
        </ol>
        <br/>

        <button class="btn btn-primary float-right" type="button" (click)="addPlanner()" [disabled] ="!addNewPlannerFormGroup.valid">Dodaj</button>
    </form>
</mat-card>    
