<form [formGroup]="addNewPlannerFormGroup" (ngSubmit)="addPlanner()">
    <mat-form-field>
        <input matInput type="text" formControlName="name" placeholder="Nazwa listy zadań"/>
    </mat-form-field>
    <br/>
    <mat-form-field>
        <input matInput type="text" formControlName="description" placeholder="Opis listy zadań"/>
    </mat-form-field>

    <div class="form-group">
            TODO początkowa lista zadań do wykonania
    </div>

    <button class="btn btn-primary float-right" type="submit" [disabled] ="!addNewPlannerFormGroup.valid">Dodaj</button>
</form>
       
<!--       
       <div class="example-container">
            <mat-form-field>
              <input matInput placeholder="Input">
            </mat-form-field>
          
            <mat-form-field>
              <textarea matInput placeholder="Textarea"></textarea>
            </mat-form-field>
          
            <mat-form-field>
              <mat-select placeholder="Select">
                <mat-option value="option">Option</mat-option>
              </mat-select>
            </mat-form-field>
          </div> -->