button{
    &:hover{
        cursor:pointer;
    }
}

#add-task{
    &:hover{
        cursor: pointer;
        text-decoration: underline;
    }
}

ol{
    padding:none;

    li{
        padding:5px 10px;
    }
}

button{
    margin-bottom:10px;
}

.fa.fa-times{
    &:hover{
        cursor: pointer;
        color:red;
    }
}