<mat-card>
    <mat-accordion>
        <mat-expansion-panel *ngFor="let checklist of checkLists">
            <mat-expansion-panel-header>
            <mat-panel-title>
                {{checklist.name}}
            </mat-panel-title>
            <mat-panel-description>
                {{checklist.description}}
            </mat-panel-description>
            </mat-expansion-panel-header>
        
            <mat-selection-list>
                    <mat-list-option *ngFor="let task of checklist.tasks" [selected]="task.isCompleted">
                      {{task.name}} - {{task.description}} - {{task.dueDate | date:'dd.MM.yyyy'}} {{task.isCompleted}}
                    </mat-list-option>
                  </mat-selection-list>
            <!-- here tasks!! -->
        </mat-expansion-panel>
    </mat-accordion>
</mat-card>