<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">This is sample to do layout</h4>
    <textarea (input)="controlValueChanged()" pInputTextarea [(ngModel)]="toDoInstance.content"></textarea>
    <hr>
    <p class="mb-0">
        It was published on {{toDoInstance.dateOfPublication | date: 'dd/MM/yyyy hh:mm:ss'}}.
    </p>
    Is already done: <p-checkbox [(ngModel)]="toDoInstance.isDone" binary="true" (onChange)="controlValueChanged()"></p-checkbox>
    <div *ngIf="inputViolated">
        <button (click)="updateEntity()" pButton type="button" label="Save"></button>
    </div>
    <button pButton (click)="deleteEntity()" type="button" label="Delete"></button>
</div>
