<h1>
    Hello from news list
</h1>
<hr>
<nav class="navbar navbar-light bg-light internal-nav">
    <form class="form-inline" >
        <input class="form-control mr-sm-2" type="search" placeholder="Search newses" aria-label="Search" [formControl]="searchNewsesControl" (keyup)="searchInputChanged()">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>

<div *ngFor="let news of FilteredNewses">
    <news-item [newsInstance]="news"></news-item>
</div>