<div class="container">
    <div class="row">
        <div class="col-12">
            <mat-card>
              <nav mat-tab-nav-bar>
                <ng-container *ngFor="let routeLink of routesConfig.routes; let i = index;">
                    <a mat-tab-link
                    *ngIf="routeLink.visible()"
                    [routerLink]="routeLink.link"
                    routerLinkActive="mat-tab-link-active"
                    [active]="routesConfig.activeLinkIndex === i"
                    (click)="routesConfig.activeLinkIndex = i; routeLink.clickMethod()"
                    [routerLinkActiveOptions]="{exact: true}">
                        {{routeLink.label}}
                    </a>
                </ng-container>
            </nav>
        </mat-card>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            <mat-card>
                <router-outlet></router-outlet>
            </mat-card>
               
        </div>

    </div>
</div>

<!-- for showing messages on every CRUD action -->
<p-growl [(value)]="msgs"></p-growl>
<p-confirmDialog header="Potwierdzenie" acceptLabel="Tak" rejectLabel="Nie" icon="fa fa-question-circle" width="425"></p-confirmDialog>