<div class="container">
    <div class="row">
        <div class="col-12">
            <p-tabMenu [model]="tabMenuItems" [activeItem]="activeItem"></p-tabMenu>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
                <router-outlet></router-outlet>
        </div>

    </div>
</div>

<!-- for showing messages on every CRUD action -->
<p-growl [(value)]="msgs"></p-growl>
<p-confirmDialog header="Potwierdzenie" icon="fa fa-question-circle" width="425"></p-confirmDialog>