<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <title>Angular Messenger</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
   <link rel='stylesheet' href='/stylesheets/style.css'/>
   <link rel='stylesheet' href='/stylesheets/primeng.min.css'/>
      <link rel='stylesheet' href='/stylesheets/omega-theme.css'/>
      <link rel='stylesheet' href='/stylesheets/font-awesome.min.css'/>

</head>
<body>
<my-app>Loading...</my-app>

<script src="/js/app/bundle.js"></script>
</body>
</html>
