<!DOCTYPE html>
<html>

<head>
    <base href="/">
    <title>Angular Messenger</title>
    {{!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous"> --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <my-app>Loading...</my-app>

    <script src="/js/app/bundle.js"></script>
</body>

</html>

<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        function initializeMap() {
            var latitude = document.getElementById('lat').innerHTML;
            var longtitude = document.getElementById('lon').innerHTML;

            var mapProp = {
                center: new google.maps.LatLng(latitude, longtitude),
                zoom: 5,
            };
            var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

            var centerOfMap = new google.maps.LatLng(latitude, longtitude)
            var marker = new google.maps.Marker({ position: centerOfMap });

            marker.setMap(map);
        }

        initializeMap();
    });

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCb7CprExvmVMmqITy_BLsxdA2-G0q4OEk"></script>